/* App.css */
body {
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure full viewport height */
  background-image: url('C:\ict\project\project\public\background.jpg');
  background-size: cover;
  background-position: center;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center form items horizontally */
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; /* Ensure input fields take full width */
  max-width: 300px; /* Adjust max-width to your preference */
}

button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Ensure button takes full width */
  max-width: 300px; /* Adjust max-width to your preference */
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-bottom: 10px;
  text-align: center;
  width: 100%; /* Ensure error message takes full width */
  max-width: 300px; /* Adjust max-width to your preference */
}
